:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --orange: rgb(250, 126, 68);
  --pink: rgb(255, 68, 132);
}

* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: Cubano;
  src: url("/fonts/Cubano.ttf");
}

@font-face {
  font-family: sofia-pro;
  src: url("/fonts/Sofiapro.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cubano", sans-serif;
}

.fs-8 {
  font-size: 14px;
}

span,
p,
small {
  font-family: "sofia-pro";
  font-weight: normal;
  font-style: normal;
}

.highlight-text {
  font-family: "Cubano", sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, var(--orange), var(--pink));
  color: transparent;
}
.highlight-box {
  font-family: "Cubano", sans-serif;
  -webkit-text-fill-color: black;
  background-image: linear-gradient(90deg, var(--orange), var(--pink));
  color: transparent;
}

span {
  font-family: sofia-pro;
}

.base {
  font-family: sofia-pro;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.btn-dark {
  background-color: black;
  color: white;
  border-radius: 3px;
}

.btn-light {
  border: 0.8px solid black;
  background-color: white;
  color: black;
  border-radius: 3px;
}

.divider {
  border-top: 2px dashed gray;
}

.dot {
  height: 13px;
  width: 13px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.fs-7 {
  font-size: 13px;
}

.bg-dark-sm {
  background-color: rgb(42, 46, 52) !important;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.bg-light {
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.bg-gray {
  background-color: #dbe1e7 !important;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.bg-dark {
  background-color: rgb(18, 24, 27) !important;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.bg-light {
  background-color: rgb(240, 255, 255, 0.4) !important;
}

.bg-dark-xs {
  background-color: rgb(42, 46, 52, 0.4) !important;
}

.text-light {
  color: #b1becd !important;
}

.text-mid-dark {
  color: #454e56 !important;
}

.nav-link-dark:hover {
  color: black !important;
}
.nav-link-light:hover {
  color: white !important;
}

.bg-blue-500 {
  background-color: #1e90ff !important;
}

.bg-black {
  background-color: black !important;
  color: white !important;
  border: white 0.5px solid !important;
}
.bg-gray-500 {
  background-color: #b1becd !important;
}

.bg-blue-300 {
  background-color: rgb(100, 181, 246) !important;
}

.bg-blue-400 {
  background-color: rgb(0, 121, 191) !important;
}

.bg-light-200 {
  background-color: rgb(240, 255, 255) !important;
  color: #1e90ff !important;
}
.bg-yellow {
  background-color: #f6e05e !important;
}

.bg-animate {
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    #3bade3 0%,
    #576fe6 25%,
    var(--orange) 51%,
    var(--pink) 100%
  );
  -webkit-animation: AnimateBG 5s ease infinite;
  animation: AnimateBG 5s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
