:root {
	--blue: #1e90ff;
	--white: #ffffff;
	--orange: rgb(250, 126, 68);
	--pink: rgb(255, 68, 132);
	--navbar-bg: rgb(240, 255, 255, 0.4);
	--search-bg: rgb(255, 255, 255, 0.8);
	--navlink-text: #454e56;
	--foreground: black;
	--background: #dbe1e7;
	--text-color: #454e56;
	--card-bg: rgb(240, 255, 255, 0.4);
	--offcanvas-bg: rgb(240, 255, 255);
}

* {
	box-sizing: border-box;
	margin: 0;
}

@font-face {
	font-family: Cubano;
	src: url('/fonts/Cubano.ttf');
	font-display: swap;
}

@font-face {
	font-family: sofia-pro;
	src: url('/fonts/Sofiapro.ttf');
	font-display: swap;
}

.text-default {
	color: var(--foreground);
}

.text {
	color: var(--text-color);
}

[data-theme='dark'] {
	--navbar-bg: rgb(42, 46, 52);
	--navlink-text: #b1becd;
	--foreground: white;
	--background: rgb(18, 24, 27);
	--text-color: #b1becd;
	--card-bg: rgb(42, 46, 52, 0.4);
	--offcanvas-bg: rgb(42, 46, 52);
	--search-bg: rgb(42, 46, 52);
}

.wrapper {
	color: var(--text-color);
	background-color: var(--background);
	-webkit-transition: background-color 250ms linear;
	-ms-transition: background-color 250ms linear;
	transition: background-color 250ms linear;
}

.card-wrapper {
	background-color: var(--card-bg);
	-webkit-transition: background-color 250ms linear;
	-ms-transition: background-color 250ms linear;
	transition: background-color 250ms linear;
}

.offcanvas {
	background-color: var(--offcanvas-bg);
}

.card-icons {
	color: var(--text-color);
	-webkit-transition: color 250ms linear;
	-ms-transition: color 250ms linear;
	transition: color 250ms linear;
}

.navbar {
	background-color: var(--navbar-bg);
	-webkit-transition: background-color 250ms linear;
	-ms-transition: background-color 250ms linear;
	transition: background-color 250ms linear;
}

.nav-link {
	color: var(--navlink-text) !important;
}
.nav-link:hover {
	color: var(--foreground) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Cubano', sans-serif;
}

.fs-8 {
	font-size: 14px;
}

.circle {
	border-radius: 50%;
	font-size: x-small !important;
}

span,
p,
small {
	font-family: 'sofia-pro';
	font-weight: normal;
	font-style: normal;
}

button:focus,
button:active {
	box-shadow: none !important;
	outline: none !important;
}

blockquote {
	background: rgb(249, 249, 249, 0.2);
	border-left: 5px solid #3b81f6;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: '\201C''\201D''\2018''\2019';
	border-radius: 0px 8px 8px 0px;
	color: var(--foreground);
}
blockquote:before {
	color: white;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
blockquote p {
	display: inline;
}

.search-highlight {
	background-color: yellow;
	padding: 0.1em 0.2em;
}

.highlight-text {
	font-family: 'Cubano', sans-serif;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(90deg, var(--orange), var(--pink));
	color: transparent;
}
.highlight-box {
	font-family: 'Cubano', sans-serif;
	-webkit-text-fill-color: black;
	background-image: linear-gradient(90deg, var(--orange), var(--pink));
	color: transparent;
}

span {
	font-family: sofia-pro;
}

.search {
	background-color: var(--search-bg) !important;
	color: var(--foreground) !important;
}

.search-icon {
	background-color: var(--card-bg);
	color: var(--foreground) !important;
}

.base {
	font-family: sofia-pro;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.tagsBar {
	width: 100%;
	overflow: auto;
	white-space: nowrap;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}
.tagsBar::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

input,
textarea,
button {
	box-shadow: none !important;
	outline: none;
}

button:disabled {
	opacity: 0.75 !important;
}

.btn-dark {
	background-color: black;
	color: white;
	border: 0px;
	border-radius: 0px;
}

.btn-green {
	background-color: #21c55d;
	color: white;
	border: 0px;
	border-radius: 0px;
	font-weight: bolder;
}

.btn-green:hover {
	background-color: #20b456;
	color: white;
	border: 0px;
}

.btn-warning:hover {
	background-color: #f0ad4e;
	color: white;
	border: 0px;
}

.btn-dark:hover {
	border: 0.8px !important;
	border-radius: 0px;
}

.btn:hover {
	border: 0px !important;
}

.btn-warning {
	color: white;
	border: 0px;
	color: black;
	border-radius: 0px;
	font-weight: bolder;
}

.btn-light {
	border: 0.8px solid black;
	background-color: white;
	color: black;
	border-radius: 3px;
}

hr {
	border-top: 2px dashed gray;
}

.border-dashed {
	border: 2px dashed gray !important;
}

.dot {
	height: 13px;
	width: 13px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

.mdx-content h2 {
	padding-top: 40px;
	padding-bottom: 15px;
}
.mdx-content h3 {
	padding-top: 40px;
	padding-bottom: 10px;
}
.mdx-content p {
	padding-top: 15px;
}
.mdx-content a {
	color: var(--foreground);
}

.mdx-content li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.pointer {
	cursor: pointer !important;
}

.fs-7 {
	font-size: 13px;
}

.fs-5 {
	font-size: 17.5px !important;
}

.fs-9 {
	font-size: 11px !important;
}
.bg-dark-sm {
	background-color: rgb(42, 46, 52) !important;
	-webkit-transition: background-color 250ms linear;
	-ms-transition: background-color 250ms linear;
	transition: background-color 250ms linear;
}

.bg-light {
	-webkit-transition: background-color 250ms linear;
	-ms-transition: background-color 250ms linear;
	transition: background-color 250ms linear;
}

.bg-gray {
	background-color: #dbe1e7 !important;
	-webkit-transition: background-color 250ms linear;
	-ms-transition: background-color 250ms linear;
	transition: background-color 250ms linear;
}

.bg-dark {
	background-color: rgb(18, 24, 27) !important;
	-webkit-transition: background-color 250ms linear;
	-ms-transition: background-color 250ms linear;
	transition: background-color 250ms linear;
}

.bg-light {
	background-color: rgb(240, 255, 255, 0.4) !important;
}

.bg-dark-xs {
	background-color: rgb(42, 46, 52, 0.4) !important;
}

.text-light {
	color: #b1becd !important;
}

.text-danger {
	color: #ff5b5b !important;
}

.text-success {
	color: #21c55d !important;
}

.text-mid-dark {
	color: #454e56 !important;
}

.bg-blue-500 {
	background-color: #1e90ff !important;
}

.bg-black {
	background-color: black !important;
	color: white !important;
}

.bg-green-300 {
	background-color: #68d391 !important;
}

.bg-gray-500 {
	background-color: #b1becd !important;
}

.bg-blue-300 {
	background-color: rgb(100, 181, 246) !important;
}

.bg-blue-400 {
	background-color: rgb(0, 121, 191) !important;
}

.bg-light-200 {
	background-color: rgb(240, 255, 255) !important;
	color: #1e90ff !important;
}
.bg-yellow {
	background-color: #f6e05e !important;
}

.bg-orange-200 {
	background-color: rgb(254, 235, 200) !important;
}

.bg-pink-300 {
	background-color: rgb(255, 192, 203) !important;
}

.bg-blue-100 {
	background-color: rgb(229, 242, 255) !important;
}

.bg-purple-500 {
	background-color: #805ad5 !important;
}

.bg-blue-900 {
	background-color: #578bf4 !important;
	color: white !important;
}
.bg-blue-800 {
	background-color: #2c3e50 !important;
	color: white !important;
}

.bg-blue-700 {
	background-color: #1e90ff !important;
	color: white !important;
}

.bg-green-500 {
	background-color: #48bb78 !important;
}
.bg-red-500 {
	background-color: #e53e3e !important;
}

.bg-yellow-500 {
	background-color: #f6e05e !important;
}

.bg-yellow-300 {
	background-color: #faf089 !important;
}

.bg-orange-500 {
	background-color: #f6993f !important;
}

.bg-gray-400 {
	background-color: #cbd5e0 !important;
}

.bg-gray-600 {
	background-color: #718096 !important;
}

.bg-animate {
	background-size: 300% 300%;
	background-image: linear-gradient(
		-45deg,
		#3bade3 0%,
		#576fe6 25%,
		var(--orange) 51%,
		var(--pink) 100%
	);
	-webkit-animation: AnimateBG 5s ease infinite;
	animation: AnimateBG 5s ease infinite;
}

@-webkit-keyframes AnimateBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes AnimateBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#nprogress .bar {
	background: linear-gradient(
		90deg,
		var(--orange),
		var(--blue),
		var(--pink)
	) !important;
	padding-top: 3px;
}

@media only screen and (min-width: 1025px) {
	.container-table {
		padding-left: 25%;
		padding-right: 25%;
	}
}

@media screen and (min-width: 700px) {
	.container-table {
		padding-left: 15%;
		padding-right: 15%;
	}
	.tagsBar {
		width: 80%;
	}
}
